.cartDropdown {
  position: absolute;
  max-width: 260px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid var(--primary);
  background-color: #ffc9c8;
  border-radius: 8px;
  top: 8%;
  right: 2%;
  z-index: 3;
  overflow-x: hidden;
}

.cartDropdown button {
  margin-top: auto;
  background-color: var(--primary);
  color: var(--textWhite);
  height: 3.2rem;
  font-size: 2rem;
  border-radius: 8px;
  cursor: pointer;
}
.emptyMessage {
  font-size: 18px;
  margin: 50px auto;
}

.cartItems {
  height: 240px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}
