.checkoutItem {
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 1rem 2rem;
  font-size: 20px;
  align-items: center;
  color: white;
  font-size: 2.4rem;
  background-color: var(--darkPrimary);
  border-radius: 10px;
  border: 2px solid var(--secondary);
  margin-top: 1rem;
}

.imageContainer {
  width: 21%;
  padding-right: 15px;
}
.imageContainer img {
  border: 2px solid var(--secondary);
  border-radius: 8px;
  width: 12rem;
}

.arrow {
  cursor: pointer;
  padding-top: 0.2rem;
}

.quantity {
  display: flex;
  width: 22%;
}
.removeBtn {
  padding-left: 12px;
  cursor: pointer;
}
.value {
  margin: 2px 10px;
}
.name {
  width: 25.5%;
}

.price {
  width: 23%;
}
@media (max-width: 650px) {
  .checkoutItem {
    min-height: 80px;
    padding: 1rem 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .imageContainer {
    width: 21%;
  }
  .imageContainer img {
    border: 2px solid var(--secondary);
    border-radius: 8px;
    width: 7rem;
  }
  .name {
    width: 26.5%;
    padding: 0.4rem;
  }
  .quantity {
    width: 20%;
  }
  .price {
    width: 21.5%;
  }
}
